#gameopedia-recommendation-block {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}
#gameopedia-recommendation-block .card {
    height: 400px;
    width: 765px;
    margin: 10px;
    background-color: grey;
}